#bottom(class='flex justify-end box-border fixed text-sm z-50 bottom-3 xl:bottom-4 right-3 xl:right-4')
  div(class='flex flex-col gap-y-3')
    button.subscription(
      :data-blog-id='T.config.BLOG.id'
      :data-url='TistoryBlog.tistoryUrl'
      class='flex justify-center items-center w-10 h-10 outline-0 rounded-full btn_menu_toolbar btn_subscription #subscribe')
      span(class='text-hidden') 구독하기
      i(class='fa-solid fa-star font-bold text-sm')
    button(
      x-data='theme'
      @click='toggle')
      span(class='text-hidden') 테마
      i(class='fa-solid fa-moon text-base')
    a(href='#hELLO')
      span(class='text-hidden') 상단으로
      i(class='fa-solid fa-chevron-up text-base')

script.
  document.addEventListener('alpine:init', () => Alpine.data('theme', () => ({
    /**
     * Toggle Theme
     */
    toggle () {
      localStorage.TTDARK = document.documentElement.classList.contains('dark') ? 'N' : 'Y'
      document.documentElement.classList.toggle('dark')

      this.$data.dark = ! this.$data.dark
    }
  })))

style
  :postcss
    #bottom {
      a,
      button {
        @apply flex justify-center items-center w-10 h-10 outline-0 rounded-full text-h-400 hover:text-h-200 dark:text-b-900 bg-h-700 dark:bg-b-350 hover:bg-h-yellow hover:dark:bg-b-purple;
      }
    }
