#bottom(class='flex justify-end box-border fixed text-sm z-40 bottom-3 xl:bottom-4 right-3 xl:right-4')
  div(class='flex flex-col gap-y-2')
    button.subscription(
      x-data='{ subscribed: T.config.SUBSCRIPTION.isConnected }'
      x-show='T.config.ROLE !== "owner" && /^(.*tistory\\.com)$/.test(location.hostname)'
      :data-blog-id='T.config.BLOG.id'
      :data-url='TistoryBlog.tistoryUrl'
      @click='subscribed = ! subscribed'
      class='flex justify-center items-center w-10 h-10 outline-0 rounded-full btn_menu_toolbar btn_subscription #subscribe')
      i(:class='subscribed ? "fa-solid" : "fa-regular"' class='fa-star text-sm')
    button(
      x-data='theme'
      @click='toggle')
      i(:class='localStorage.TTDARK === "Y" ? "fa-moon" : "fa-sun"' class='fa-solid text-base' id='bottom_toggle_btn')
    a(href='#hELLO')
      i(class='fa-solid fa-chevron-up text-base')

script.
  document.addEventListener('alpine:init', () => Alpine.data('theme', () => ({
    /**
     * Toggle Theme
     */
    toggle () {
      localStorage.TTDARK = document.documentElement.classList.contains('dark') ? 'N' : 'Y'
      document.documentElement.classList.toggle('dark')

      this.$data.dark = ! this.$data.dark
      
      // 토글 시 아이콘 변경
      const toggleBtn = document.getElementById("bottom_toggle_btn");
      if (document.documentElement.classList.contains('dark')) {
        toggleBtn.classList.add("fa-moon");
        toggleBtn.classList.remove("fa-sun");
      } else {
        toggleBtn.classList.add("fa-sun");
        toggleBtn.classList.remove("fa-moon");
      }
    }
  })))

  console.log("Subscription: " + T.config.SUBSCRIPTION.isConnected);

style
  :postcss
    #bottom {
      a,
      button {
        @apply flex justify-center items-center w-10 h-10 outline-0 rounded-full text-h-350 hover:text-h-200 dark:text-b-900 bg-h-700 dark:bg-b-375 hover:bg-h-yellow hover:dark:bg-b-purple;
      }
    }
