if process.env.NODE_ENV === 'development'
  template(x-teleport='.contents_style > .container_postbtn')
    button.btn_menu_toolbar.btn_subscription(
      type='button'
      class='#subscribe group'
      x-data='{ subscribed: T.config.SUBSCRIPTION.isConnected }'
      :data-blog-id='T.config.BLOG.id'
      :data-url='TistoryBlog.tistoryUrl'
      @click='subscribed = ! subscribed')
      span.img_common_tistory.ico_check_type1
      i(:class='subscribed ? "fa-solid" : "fa-regular"' class='fa-star text-sm text-h-350 group-hover:text-h-100')

style(once='content-subscription-button')
  :postcss
    #content {
      .container_postbtn {
        .btn_subscription {
          @apply border-0 ml-2 mr-0;

          .txt_state {
            @apply text-hidden;
          }

          .txt_tool_id,
          .ico_check_type1 {
            @apply hidden;
          }
        }
      }
    }
