.sidebar-element
  #category(
    x-data='category'
    class='pt-6 border-t border-h-700 dark:border-b-400'
  )
    | [##_category_list_##]

script.
  document.addEventListener('alpine:init', () => Alpine.data('category', () => ({
    /**
     * @var {Boolean} foldableCategory
     */
    foldableCategory: skinOptions.foldableCategory,

    /**
     * Init
     */
    init () {
      if (this.foldableCategory) {
        this.$subCategories.forEach(this.foldable.bind(this))
      }
    },

    /**
     * Foldable
     *
     * @param {HTMLElement} $subCategory
     */
    foldable ($subCategory) {
      $subCategory.parentNode.setAttribute('x-data', '{ open: true }')
      $subCategory.setAttribute('x-show', 'open')
      $subCategory.setAttribute('x-collapse', '')

      const $icon = this.$icon

      $icon.setAttribute('x-on:click', 'open = ! open')
      $icon.setAttribute(':class', '{ "rotate-90 duration-200": open }')

      $subCategory.parentNode.prepend($icon)
    },

    /**
     * Get subcategories
     *
     * @var {NodeListOf<HTMLElement>} $subCategories
     */
    get $subCategories () {
      return this.$el.querySelectorAll('.sub_category_list')
    },

    /**
     * Get a new icon
     *
     * @var {HTMLElement} $icon
     */
    get $icon () {
      const icon = document.createElement('i')

      icon.classList.add('fa-solid', 'fa-chevron-right')

      return icon
    }
  })))

style
  :postcss
    #sidebar {
      #category {
        .tt_category {
          .link_tit,
          .link_item,
          .link_sub_item {
            img {
              @apply hidden;
            }

            .c_cnt {
              @apply text-xs;
            }
          }

          .link_tit {
            @apply text-sm font-bold mb-3 px-3 inline-block text-h-200 dark:text-b-900;
          }

          ul {
            @apply flex flex-col;

            li {
              @apply relative text-sm;

              a {
                @apply hover:font-bold;
              }

              i {
                @apply absolute right-0 text-sm cursor-pointer hidden;
              }
            }
          }

          .sub_category_list {
            @apply mb-2;

            li {
              @apply w-[100%];

              a {
                @apply block px-4 py-1 text-h-400 dark:text-b-800;
              }

              .link_sub_item::before {
                @apply mr-1 fa-ellipsis text-h-500 dark:text-b-700 text-sm;
              }
            }
          }
        }
      }
    }
