@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 */
@font-face {
    font-family: 'SUITE';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Light.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Regular.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Medium.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-SemiBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-SemiBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-SemiBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'SUITE';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Heavy.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Heavy.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Heavy.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/SUITE/SUITE-Heavy.ttf') format('truetype');
}

/* 메뉴바/구독 설정 */
body .menu_toolbar {
  top: 1rem;
  right: 0.75rem;
}
@media screen and (min-width: 1400px) {
  body .menu_toolbar {
    top: 1.25rem;
    right: 1rem;
  }
}
@media screen and (max-width: 1260px) {
  body .menu_toolbar {
    display: block;
  }
}

/* 메뉴바/구독 디자인 */
body .menu_toolbar .btn_menu_type2 {
  width: 32px;
  height: 32px;
}
body .menu_toolbar .btn_menu_type2,
body .menu_toolbar .btn_menu_toolbar {
  border-radius: 0.375rem;
}

a,
button {
  @apply pointer-events-auto !important;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* https://github.com/aFarkas/lazysizes#css-api */
.lazyload,
.lazyloading {
  @apply animate-pulse bg-h-700/60 dark:bg-b-350/60;
}

.lazyloaded {
  @apply animate-none bg-transparent;
}

.lazyload:not([src]) {
  @apply invisible;
}

/* https://swiperjs.com/demos#navigation */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-color: rgba(255, 255, 255, .6);
  @apply max-lg:hidden !important;
}

@layer utilities {
  .text-hidden {
    @apply absolute w-px h-px -m-px overflow-hidden !important;
  }

  .text-overflow-hidden {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
  }

  .font-awesome {
    @apply font-['Font_Awesome_6_Free'] font-bold;
  }

  .fa-chevron-right {
    @apply font-awesome content-['\f105'];
  }

  .fa-circle-arrow-right {
    @apply font-awesome content-['\f0a9'];
  }

  .fa-circle-arrow-down {
    @apply font-awesome content-['\f0ab'];
  }

  .fa-heart {
    @apply font-awesome content-['\f004'];
  }

  .fa-share-nodes {
    @apply font-awesome content-['\f1e0'];
  }

  .fa-chart-pie {
    @apply font-awesome content-['\f200'];
  }

  .fa-wrench {
    @apply font-awesome content-['\f0ad'];
  }

  .fa-ellipsis {
    @apply font-awesome content-['\f141'];
  }

  .fa-tag {
    @apply font-awesome content-['\f02b'];
  }
}

/* 오픈그래프 */
#tt-body-page #content .contents_style figure[data-ke-type=opengraph] .og-text .og-title {
  color: #37373B;
}
.dark #tt-body-page #content .contents_style figure[data-ke-type=opengraph] .og-text .og-title {
  color: #EDEDEF;
}

/* 카테고리의 다른 글 (중복된 거 없앰) */
#tt-body-page .another_category {
  display: none !important;
}

.dark .popular-posts:hover .date {
  color: '#EDEDEF';
}