@tailwind base;
@tailwind components;
@tailwind utilities;

.menu_toolbar {
  @apply hidden;
}

body {
  font-family: 'Mabinogi Classic';
}

a,
button {
  @apply pointer-events-auto !important;
}

/* https://github.com/aFarkas/lazysizes#css-api */
.lazyload,
.lazyloading {
  @apply animate-pulse bg-h-700;
}

.lazyloaded {
  @apply animate-none bg-h-100;
}

.lazyload:not([src]) {
  @apply invisible;
}

/* https://swiperjs.com/demos#navigation */
.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 1.5rem;
  --swiper-navigation-color: rgba(255, 255, 255, .6);
  @apply max-lg:hidden !important;
}

@layer utilities {
  .text-hidden {
    @apply absolute w-px h-px -m-px overflow-hidden !important;
  }

  .text-overflow-hidden {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
  }

  .font-awesome {
    @apply font-['Font_Awesome_6_Free'] font-bold;
  }

  .fa-chevron-right {
    @apply font-awesome content-['\f105'];
  }

  .fa-circle-arrow-right {
    @apply font-awesome content-['\f0a9'];
  }

  .fa-circle-arrow-down {
    @apply font-awesome content-['\f0ab'];
  }

  .fa-heart {
    @apply font-awesome content-['\f004'];
  }

  .fa-share-nodes {
    @apply font-awesome content-['\f1e0'];
  }

  .fa-chart-pie {
    @apply font-awesome content-['\f200'];
  }

  .fa-wrench {
    @apply font-awesome content-['\f0ad'];
  }

  .fa-ellipsis {
    @apply font-awesome content-['\f141'];
  }

  .fa-star {
    @apply font-awesome content-['\f005'];
  }

  .fa-tag {
    @apply font-awesome content-['\f02b'];
  }
}

/* 코드블럭 */
#tt-body-page .hljs {
  color: #e6e6e9;
}

/* 오픈그래프 */
#tt-body-page #content .contents_style figure[data-ke-type=opengraph] .og-text .og-title {
  color: #f4f4f6;
}

/* 카테고리의 다른 글 */
#tt-body-page .another_category_color_gray *,
#tt-body-page .another_category_color_gray h4, 
#tt-body-page .another_category_color_gray h4 a {
  color: #e6e6e9 !important;
}

/* 웨이브 애니메이션 */
.parallax > use {
  animation: move-forever 10s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 7s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 9s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 11s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}