s_article_related
  div(class='rounded-[12px] p-8 mb-0 box-border bg-b-350/60 text-b-900')
    div(class='font-bold flex items-center justify-between text-overflow-hidden text-sm pb-2 mb-4 border-b border-b-400')
      span '[##_article_rep_category_##]' 카테고리의 다른 글
      i(class='fas fa-bars')
    ul(class='flex flex-col gap-y-2')
      s_article_related_rep
        li
          a(
            href='[##_article_related_rep_link_##]'
            class='flex items-center justify-between text-sm text-b-800 hover:text-b-900')
            div(class='text-overflow-hidden') [##_article_related_rep_title_##]
            i(class='fas fa-arrow-right scale-75')
